@use "./variables" as *;

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksand';
  src: url('../fonts/Quicksand-Regular.tff') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'effortless';
  src: url('../fonts/effortless.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'amatic';
  src: url('../fonts/AmaticSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'amatic_bold';
  src: url('../fonts/AmaticSC-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//$yellow: #E4D00A;
//$main_color: #642970;

body, html{
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "montserrat", serif;
}
*, *:before, *:after {
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.section-container{
  position: relative;

}
main h1{
  color: $main_color;
  font-family: effortless, serif;
  font-size: 2.2rem;
  text-transform: capitalize;
  z-index: 12;
  position: relative;
  text-align: center;
}

@import "home";
@import "projects";
@import "about";
@import "nav";
@import "parcours";
@import "contact";
@import "footer";