@use "./variables" as *;

.homepage{
  .hero-area{
    @media screen and (min-width: 768px) {
      height: 100vh;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
    }
    background: linear-gradient(-128deg, $main_color, #091221);
    display: flex;
    flex-direction: column;
    .presentation{
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      margin-top: auto;
      flex-wrap: wrap;
      @media screen and (min-width: 1024px) {
        width: 80%;
      }
      @media screen and (max-width: 1024px) {
        width: 90%;
      }
      @media screen and (min-width: 768px) {
        margin: auto;
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 80px;
        width: 100%;
      }
      .person{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        @media screen and (max-width: 768px) {
          align-items: center;
        }
        height: fit-content;
        max-height: 80%;
        min-width: 24%;
        max-width: 50%;
        h1{
          @media screen and (min-width: 768px) {
            font-size: 4rem;
          }
          @media screen and (max-width: 768px) {
            font-size: 2rem;
          }
          margin: 0;
          padding-bottom: 40px;
          text-align: left;
          font-family: 'effortless', serif;
          background: -webkit-linear-gradient($yellow 54%, orange);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          .title{
            display: flex;
          }
          .concepteur{
            align-items: baseline;
          }
          .dev{
            align-items: flex-start;
          }
          .cursor {
            display: inline-block;
            width: 12px;
            background: transparent;
            animation: blink 1s infinite;
            margin-left: 4px;
          }

          @keyframes blink {
            0%, 50% {
              opacity: 1;
            }
            50.01%, 100% {
              opacity: 0;
            }
          }

        }
        @media screen and (max-width: 768px) {
          max-width: 100%;
        }

        .person-description{
          position: relative;
          display: flex;
          min-width: 25%;
          max-width: 80%;
          @media screen and (max-width: 1024px) {
            width: 92%;
          }
          height: fit-content;
          color: $yellow;
          padding: 6px 20px;
          min-height: 180px;
          overflow: hidden;
          align-items: center;
          p{
            height: fit-content;
          }
          &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 0;
            height: 0;
            border-top: 1px solid $yellow;
            border-left: 1px solid $yellow;
            animation: border-appear 1s forwards;
            animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
            transform: skewX(1deg) skewY(-1deg);
          }
          &::after {
            content: '';
            position: absolute;
            bottom: 3px;
            right: 0;
            width: 0;
            height: 0;
            border-bottom: 1px solid $yellow;
            border-right: 1px solid $yellow;
            animation: border-appear 1s forwards;
            animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
            animation-delay: .6s;
            transform: skewX(1deg) skewY(-1deg);
          }
          //@media screen and (max-width: 768px) {
          //  max-width: 90%;
          //}
        }
      }
      .picture-name-wrapper{
        max-width: 50%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 20;
        .picture-name-container{
          display: flex;
          flex-direction: column;
          align-items: center;
          img{
            width: 300px;
            height: auto;
            @media screen and (max-width: 768px) {
              width: 200px;
              margin-bottom: 20px;
            }
            z-index: 16;
            position: relative;
          }
        }
        h2{
          color: $yellow;
          background-color: $main_color;
          padding: 6px 20px;
          border-radius: 8px;
          z-index: 20;
          margin-top: 0;
          font-family: 'montserrat', serif;
          letter-spacing: 2px;
          @media screen and (max-width: 768px) {
            margin: 0 auto 20px auto;
            text-align: center;
          }
        }
      }

    }
    img.shape{
      position: absolute;
      width: 735px;
      right: 0;
      bottom: -1px;
      z-index: 4;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .links-wrapper{
      display: flex;
      margin: auto;
      gap: 20px;
      .link-button{
        z-index: 12;
        color: #fff;
        position: relative;
        border: solid 1px $yellow;
        width: 140px;
        display: flex;
        justify-content: center;
        padding: 0;
        background-color: $yellow;
        transition: all ease .36s;
        border-radius: 4px;
        &:hover a{
          gap: 14px;
        }
        a{
          padding: 8px 16px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          font-size: 1.2rem;
          width: 100%;
          align-items: center;
          gap: 6px;
          transition:gap ease .4s;
        }
      }
      .project-link {
        &:hover{
          background-color: $main_color;
          a{
            color: $yellow;
          }
        }
        a{
          position: relative;
          color: $main_color;
          text-align: center;
          cursor: pointer;
          svg{
            width: 30px;
          }
        }
      }
      .cv-link{
        background-color: $main_color;
        color: $yellow;
        align-items: center;
        &:hover{
          background-color: $yellow;
          a{
            color: $main_color;
          }
          svg path{
            stroke : $main_color;
          }
        }
        a{
          color: $yellow;
          width: 100%;
          @media screen and (max-width: 768px) {
            //flex-direction: row;
            gap: 12px;
            padding: 4px 12px;
          }
        }
      }
    }
  }
}
.home-description{
  display: flex;
  border-bottom: 1px solid lighten($main_color, 80%);
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
  .para-container{
    display: flex;
    gap: 30px;
    padding: 20px;
    position: relative;
    align-items: center;
    .text{
      margin: 20px 0;
    }
    &.first-para{
      //background-color: lighten($yellow, 50%);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      padding-right: 60px;
      border-right: solid 1px $main_color;
      width: calc(50% + 80px);
      @media screen and (max-width: 900px) {
        width: 100%;
        margin: 0;
        clip-path: unset;
      }
      .bar{
        background-color: $yellow;
        width: 30%;
        height: 12px;
        position: absolute;
        bottom: 20px;
        margin-top: 40px;
        left: 0;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      }
    }
    &.second-para{
      clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
      background-color: lighten($main_color, 80%);
      padding-left: 80px;
      margin-left: -80px;
      width: calc(50% + 80px);
      @media screen and (max-width: 900px) {
        width: 100%;
        margin: 0;
        clip-path: unset;
      }
      .bar{
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
        background-color: $main_color;
        width: 30%;
        height: 12px;
        position: absolute;
        top: 10px;
        right: 0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

@keyframes border-appear {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 100%;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}