@use "./variables" as *;

.homepage{
  .hero-area{
    @media screen and (min-width: 768px) {
      height: 100vh;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
    }
    background: linear-gradient(-128deg, $main_color, #091221);
    display: flex;
    flex-direction: column;
    .presentation{
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      margin-top: auto;
      flex-wrap: wrap;
      @media screen and (min-width: 768px) {
        min-height: 440px;
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 80px;
      }
      .person{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        max-height: 80%;
        min-width: 24%;
        max-width: 50%;
        h1{
          @media screen and (min-width: 768px) {
            font-size: 4rem;
          }
          @media screen and (max-width: 768px) {
            font-size: 2rem;
          }
          //display: flex;
          margin: 0;
          padding-bottom: 40px;
          //flex-direction: column;
          font-family: 'effortless', serif;
          background: -webkit-linear-gradient($yellow 54%, orange);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          .title{
            display: flex;
          }
          .concepteur{
            align-items: baseline;
          }
          .dev{
            align-items: flex-start;
          }
          //@media screen and (min-width: 768px) {
          //  span.first-letter {
          //    font-size: 7rem;
          //    //line-height: 132px;
          //  }
          //}
          //@media screen and (max-width: 768px) {
          //  span.first-letter{
          //    font-size: 6rem;
          //    line-height: 50px;
          //  }
          //}

          .cursor {
            display: inline-block;
            width: 12px;
            background: transparent;
            animation: blink 1s infinite;
            margin-left: 4px;
          }

          @keyframes blink {
            0%, 50% {
              opacity: 1;
            }
            50.01%, 100% {
              opacity: 0;
            }
          }

        }
        @media screen and (max-width: 768px) {
          max-width: 100%;
        }

        .person-description{
          position: relative;
          display: inline-block;
          min-width: 25%;
          max-width: 74%;
          color: $yellow;
          padding: 14px 20px;
          overflow: hidden;
          &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 0;
            height: 0;
            border-top: 1px solid $yellow;
            border-left: 1px solid $yellow;
            animation: border-appear 1s forwards;
            animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
            transform: skewX(1deg) skewY(-1deg);
          }
          &::after {
            content: '';
            position: absolute;
            bottom: 3px;
            right: 0;
            width: 0;
            height: 0;
            border-bottom: 1px solid $yellow;
            border-right: 1px solid $yellow;
            animation: border-appear 1s forwards;
            animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
            animation-delay: .6s;
            transform: skewX(1deg) skewY(-1deg);
          }
          @media screen and (max-width: 768px) {
            max-width: 90%;
          }
        }
      }
      .picture-wrapper{
        max-width: 50%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 20;
        img{
          width: 300px;
          height: auto;
          @media screen and (max-width: 768px) {
            width: 200px;
            margin-bottom: 20px;
          }
          z-index: 16;
          position: relative;
        }
        h2{
          color: $yellow;
          background-color: $main_color;
          padding: 6px 20px;
          border-radius: 8px;
          //border-top-right-radius: 60px;
          //border-bottom-left-radius: 20px;
          z-index: 20;
          margin-top: 0;
          //font-family: 'amatic_bold', serif;
          font-family: 'montserrat', serif;
          letter-spacing: 2px;
          @media screen and (max-width: 768px) {
            margin: 0 auto 20px auto;
            text-align: center;
          }
        }
      }

    }
    img.shape{
      position: absolute;
      width: 735px;
      right: 0;
      bottom: 0;
      z-index: 4;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .links-wrapper{
      display: flex;
      margin: auto;
      gap: 20px;
      .link-button{
        z-index: 12;
        color: #fff;
        position: relative;
        border: solid 1px $yellow;
        width: 140px;
        display: flex;
        justify-content: center;
        padding: 0;
        background-color: $yellow;
        transition: all ease .36s;
        border-radius: 4px;
        &:hover a{
          gap: 14px;
        }
        a{
          padding: 8px 16px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          font-size: 1.2rem;
          width: 100%;
          align-items: center;
          gap: 6px;
          transition:gap ease .4s;
        }
      }
      .project-link {
        &:hover{
          background-color: $main_color;
          a{
            color: $yellow;
          }
        }
        a{
          position: relative;
          color: $main_color;
          text-align: center;
          cursor: pointer;
          svg{
            width: 30px;
          }
        }
      }
      .cv-link{
        background-color: $main_color;
        color: $yellow;
        align-items: center;
        &:hover{
          background-color: $yellow;
          a{
            color: $main_color;
          }
          svg path{
            stroke : $main_color;
          }
        }
        a{
          color: $yellow;
          width: 100%;
          @media screen and (max-width: 768px) {
            //flex-direction: row;
            gap: 12px;
            padding: 4px 12px;
          }
        }
      }
    }
  }
}
.home-description{
  display: flex;
  .para-container{
    padding: 20px;
    position: relative;
    &.first-para{
      background-color: $yellow;
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      padding-right: 60px;
      width: calc(50% + 80px);
    }
    &.second-para{
      width: 50%;
    }
    p{
      font-family: 'montserrat', 'sans-serif';
    }

  }

  @media screen and (max-width: 768px) {
    padding: 20px;
  }
  @media screen and (max-width: 560px) {
    padding: 14px;
  }
}

@keyframes border-appear {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 100%;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}